<div class="botao-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=5581996149023&text=Oi%20Henrique!%20Gostaria%20de%20saber%20mais%20dos%20seus%20servi%C3%A7os"><img src="img/whats.png" alt="Whatsapp" id="botao-whatsapp" target="_blank"></a>
</div>