<header class="cabecalho">
    <div class="logo-cabecalho">
        <a href="/"><img src="img/logo-horizontal.png" alt="Henrique Fotografia" class="logo-horizontal" title="Henrique Fotografia"></a>
    </div>
    <nav class="cabecalho-navegacao" id="cabecalho-nav">
        <a href="/" class="cabecalho-nav-item" id="inicio">Início</a>
        <a href="/henrique" class="cabecalho-nav-item" id="sobre">Henrique</a>
        <a href="/servicos" class="cabecalho-nav-item" id="servicos">Serviços</a>
        <a href="/contato" class="cabecalho-nav-item" id="contato">Contato</a>
    </nav>
    <div class="cabecalho-menu" id="cabecalho-botao">
        <div class="linha1" id="linha1"></div>
        <div class="linha2" id="linha2"></div>
        <div class="linha3" id="linha3"></div>
    </div>
</header>