<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henrique Fotografia</title>
    <link rel="stylesheet" type='text/css' href="css/main.css" >
    <link rel="icon" href="img/logo redondo png.png">
    <script src="js/index.js" defer></script>
</head>
<body>

    <%- include('partials/header') %>

    <main class="conteudo">
        <section class="conteudo-banner">
            <div class="conteudo-banner-texto">
                <h1 class="conteudo-banner-titulo">Título</h1>
                <h3 class="conteudo-banner-descricao">Descrição</h3>
            </div>
        </section>
        <section class="conteudo-comoFunciona">
            <div class="conteudo-comoFunciona-descricao">
                <h2 class="conteudo-comoFunciona-titulo">Como Funciona?</h2>
                <div class="conteudo-comoFunciona-itens">
                    <div class="conteudo-comoFunciona-item">
                        <div class="conteudo-comoFunciona-item-ponto">
                            <img src="img/isnta.png" alt="" class="conteudo-comoFunciona-item-imagem">
                        </div>
                        <div class="conteudo-comoFunciona-item-texto">
                            <h3 class="conteudo-comoFunciona-item-titulo">Dê uma volta</h3>
                            <p class="conteudo-comoFunciona-item-descricao">Sinta-se livre para passear pelo meu site e no meu instagram também! <br> <span class="instagram-escrito">@henriquefotografiaa_</span></p>
                        </div>
                    </div>
                    <div class="conteudo-comoFunciona-item">
                        <div class="conteudo-comoFunciona-item-ponto">
                            <img src="img/coracao.png" alt="" class="conteudo-comoFunciona-item-imagem">
                        </div>
                        <div class="conteudo-comoFunciona-item-texto">
                            <h3 class="conteudo-comoFunciona-item-titulo">Gostou do que viu?</h3>
                            <p class="conteudo-comoFunciona-item-descricao">Se você viu o meu trabalho e deseja ser eternizado pela minha lente, será um prazer te receber!</p>
                        </div>
                    </div>
                    <div class="conteudo-comoFunciona-item">
                        <div class="conteudo-comoFunciona-item-ponto">
                            <img src="img/whatsapp.png" alt="" class="conteudo-comoFunciona-item-imagem">
                        </div>
                        <div class="conteudo-comoFunciona-item-texto">
                            <h3 class="conteudo-comoFunciona-item-titulo">Que tal me falar suas ideas?</h3>
                            <p class="conteudo-comoFunciona-item-descricao">Conte-me um pouco sobre seus desejos, cenários, figurino, e qualquer coisa que achar importante.</p>
                        </div>
                    </div>
                    <div class="conteudo-comoFunciona-item">
                        <div class="conteudo-comoFunciona-item-ponto">
                            <img src="img/camera.png" alt="" class="conteudo-comoFunciona-item-imagem">
                        </div>
                        <div class="conteudo-comoFunciona-item-texto">
                            <h3 class="conteudo-comoFunciona-item-titulo">O Dia</h3>
                            <p class="conteudo-comoFunciona-item-descricao">Agora é só esperar o grande dia. Seja um ensaio ao ar livre, um aniversário, ou mesmo um casamento, conte comigo!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conteudo-comoFunciona-imagem">
                <img src="img/Imagem1.png" alt="" id="imagem-comoFunciona">
            </div>
        </section>
        <section class="conteudo-depoimentos">
            <h2 class="conteudo-depoimentos-titulo">Depoimentos</h2>
            <div class="conteudo-depoimentos-blocos">
                <div class="conteudo-depoimentos-bloco">
                    <div class="conteudo-depoimentos-imagem">
                        <img src="img/Dep1 (1).jpg" alt="" class="imagem-depoimentos">
                    </div>
                    <div class="conteudo-depoimentos-bloco-texto">
                        <p class="conteudo-depoimentos-bloco-descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem qui, molestias architecto quibusdam inventore quos. Quas numquam recusandae porro totam hic mollitia nesciunt quisquam tenetur ex. Expedita ad beatae adipisci.</p>
                        <h3 class="conteudo-depoimentos-bloco-autor">Fulano da Silva</h3>
                    </div>
                </div>
                <div class="conteudo-depoimentos-bloco">
                    <div class="conteudo-depoimentos-imagem">
                        <img src="img/banner.png" alt="" class="imagem-depoimentos">
                    </div>
                    <div class="conteudo-depoimentos-bloco-texto">
                        <p class="conteudo-depoimentos-bloco-descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem qui, molestias architecto quibusdam inventore quos. Quas numquam recusandae porro totam hic mollitia nesciunt quisquam tenetur ex. Expedita ad beatae adipisci.</p>
                        <h3 class="conteudo-depoimentos-bloco-autor">Fulano da Silva</h3>
                    </div>
                </div>
                <div class="conteudo-depoimentos-bloco">
                    <div class="conteudo-depoimentos-imagem">
                        <img src="img/Dep1 (2).jpg" alt="" class="imagem-depoimentos">
                    </div>
                    <div class="conteudo-depoimentos-bloco-texto">
                        <p class="conteudo-depoimentos-bloco-descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem qui, molestias architecto quibusdam inventore quos. Quas numquam recusandae porro totam hic mollitia nesciunt quisquam tenetur ex. Expedita ad beatae adipisci.</p>
                        <h3 class="conteudo-depoimentos-bloco-autor">Fulano da Silva</h3>
                    </div>
                </div>
                <div class="conteudo-depoimentos-bloco-escondidos">
                    <div class="conteudo-depoimentos-imagem">
                    <img src="" alt="" class="imagem-depoimentos">
                    </div>
                    <div class="conteudo-depoimentos-bloco-texto">
                        <p class="conteudo-depoimentos-bloco-descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem qui, molestias architecto quibusdam inventore quos. Quas numquam recusandae porro totam hic mollitia nesciunt quisquam tenetur ex. Expedita ad beatae adipisci.</p>
                        <h3 class="conteudo-depoimentos-bloco-autor">Fulano da Silva</h3>
                    </div>
                </div>
                <div class="conteudo-depoimentos-bloco-escondidos">
                    <div class="conteudo-depoimentos-imagem">
                    <img src="" alt="" class="imagem-depoimentos">
                    </div>
                    <div class="conteudo-depoimentos-bloco-texto">
                        <p class="conteudo-depoimentos-bloco-descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem qui, molestias architecto quibusdam inventore quos. Quas numquam recusandae porro totam hic mollitia nesciunt quisquam tenetur ex. Expedita ad beatae adipisci.</p>
                        <p class="conteudo-depoimentos-bloco-autor">Fulano da Silva</p>
                    </div>
                </div>
                <div class="conteudo-depoimentos-bloco-escondidos">
                    <div class="conteudo-depoimentos-imagem">
                    <img src="" alt="" class="imagem-depoimentos">
                    </div>
                    <div class="conteudo-depoimentos-bloco-texto">
                        <p class="conteudo-depoimentos-bloco-descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem qui, molestias architecto quibusdam inventore quos. Quas numquam recusandae porro totam hic mollitia nesciunt quisquam tenetur ex. Expedita ad beatae adipisci.</p>
                        <p class="conteudo-depoimentos-bloco-autor">Fulano da Silva</p>
                    </div>
                </div>
            </div>
        </section>

    <%- include('partials/botao') %>
        
    </main>

    <%- include('partials/footer') %>

</body>
</html>