@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    background-color: #121210;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    padding: 1% 10vw 1% 15vw;
    width: 100vw;
    height: fit-content;
    min-height: 8vh;
    position: fixed;
}

.logo-horizontal {
    height: 85px;
    max-height: 8vh;
}

.cabecalho-navegacao {
    display: flex;
    width: fit-content;
    height: max-content;
    flex-wrap: wrap;
}

.cabecalho-nav-item {
    color: hsl(0, 0%, 80%);
    font-size: 2rem;
    padding: 0px 2vw 10px 2vw;
    margin: 1% 0px 1% 0px;
}

.cabecalho-nav-item:hover {
    border-bottom: 5px solid #A77D14;
    color: white;
}

#contato {
    border-bottom: 5px solid #A77D14;
}

.linha1, .linha2, .linha3 {
    width: 32px;
    height: 4px;
    background-color: hsl(0, 0%, 80%);
    margin: 8px;
    transition: 0.3s;
}

.cabecalho-menu {
   cursor: pointer;
   display: none;
}

#botao-whatsapp {
    width: 50px;
    max-width: 10vw;
}

.botao-whatsapp {
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 30px;
    background-color: #3FC250;
    border-radius: 100%;
}

.conteudo-banner{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/lembrancas5.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.conteudo-banner-texto {
    margin: 0 auto;
    text-align: center;
    width: 1300px;
    max-width: 90vw;
}

.conteudo-banner-texto-titulo {
    font-size: 4.5rem;
    color: hsl(60, 6%, 20%);
    font-weight: 800;
}

.conteudo-banner-texto-descricao {
    font-size: 1.8rem;
    margin-top: 15px;
    font-weight: 600;
    color: hsl(60, 6%, 30%)
}

.conteudo-banner-form {
    background-color: hsl(42, 42%, 80%);
    width: fit-content;
    max-width: 80vw;
    height: fit-content;
    padding: 2%;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5)
}

.conteudo-banner-form-titulo {
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 8%;
    color: hsl(60, 6%, 30%)
}

.form {
    margin: 0 auto;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-pergunta {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    align-items: center;
}

.form-label {
    color: hsl(60, 6%, 30%);
    font-weight: 600;
}

.form-input {
    width: 700px;
    max-width: 70vw;
    margin: 3% auto 5%;
    font-size: 1.7rem;
}

.rodape-botao {
    margin: 5% auto;
}

.form-botao {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    width: 200px;
    color: hsl(43, 79%, 20%);
}

.form-botao:hover {
    color: hsl(43, 79%, 80%);
    background-color: hsl(43, 79%, 37%);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.rodape-copy {
    color: hsl(60, 6%, 50%);
    background-color: #121210;
    font-weight: 900;
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}


@media screen and (max-width: 1500px) {
    :root {
        font-size: 12px;
    }

    body {
         overflow-x: hidden;
    }

    p {
        font-weight: 500;
    }
    
    .cabecalho-menu {
        display: block;
    }

    .cabecalho-menu-sair {
        display: block;
    }

    .cabecalho-navegacao {
        position: absolute;
        top: 7vh;
        right: 0px;
        min-height: 30vh;
        min-width: 30vw;
        background-color: #121210;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-right: -100%;
    }

    .linhaX1 {
        transform: rotate(-45deg) translateY(9px);
        width: 32px;
        height: 4px;
        background-color: hsl(0, 0%, 80%);
        margin: 8px;
        transition: 0.3s;
    }

    .linhaX3 {
        transform: rotate(45deg) translateY(-9px) ;
        width: 32px;
        height: 4px;
        background-color: hsl(0, 0%, 80%);
        margin: 8px;
        transition: 0.3s;
    }
    
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 8px;
    }

    .botao-whatsapp {
        padding: 10px;
        right: 5vw;
        bottom: 5vh;
    }

}