<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henrique Fotografia - Serviços</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="img/logo redondo png.png">
    <script src="js/servicos.js" defer></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="conteudo">
        <section class="conteudo-barra">
            <nav class="conteudo-barra-navegacao">
            <p class="conteudo-barra-nav-item" id="casamentos">Casamentos</p>
            <p class="conteudo-barra-nav-item" id="prewed">Pré-Wedding</p>
            <p class="conteudo-barra-nav-item" id="gestantes">Gestantes</p>
            <p class="conteudo-barra-nav-item" id="ensaios">Ensaios</p>
            <p class="conteudo-barra-nav-item" id="eventos">Eventos de celebração</p>
            </nav>
        </section>
        <section class="servicos-todos" id="servicos-todos">
            <section class="conteudo-grade">
                <div class="blocos-primeiro" id="blocos-primeiro" >
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos1.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jean e Rebeca</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos2.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jean e Rebeca</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos3.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos5.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos6.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos7.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos8.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos9.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                        </div>
                    </div>
                </div>
                <div class="blocos-segundo" id="blocos-segundo">
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos11.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos14.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos15.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos16.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Bruno</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos19.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Bruno</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos27.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Adriele</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos20.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Casamentos</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos21.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Casamentos</p>
                        </div>
                    </div>
                </div>
                <div class="blocos-terceiro" id="blocos-terceiro">
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos22.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Casamentos</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos23.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos25.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos26.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos28.JPG" alt="" class="conteudo-grade-bloco-miniatura-imagem-horizontal">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Formatura RHEMA</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Eventos</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos31.JPG" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Formatura RHEMA</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Eventos</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos32.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Lídia</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                        </div>
                    </div>
                    <div class="conteudo-grade-bloco">
                        <div class="conteudo-grade-bloco-miniatura">
                            <img src="img/Servicos33.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                        </div>
                        <div class="conteudo-grade-bloco-texto">
                            <h3 class="conteudo-grade-bloco-texto-titulo">Lídia</h3>
                            <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="conteudo-botoes">
                <button class="conteudo-botao" id="botao-primeiro">MOSTRAR MAIS</button>
                <button class="conteudo-botao" id="botao-segundo">MOSTRAR MAIS</button>
            </div>
        </section>
        <section class="servicos-casamentos" id="servicos-casamentos">
            <div class="blocos-primeiro"  >
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos20.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Casamentos</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos21.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Casamentos</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos22.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Casamentos</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="servicos-prewed" id="servicos-prewed">
            <div class="blocos-primeiro"  >
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos1.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jean e Rebeca</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos2.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jean e Rebeca</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos3.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos4-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos5.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos6.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos7.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos8.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Jéssyca e Eliseu</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Pré-Wedding</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="servicos-gestantes" id="servicos-gestantes">
            <div class="blocos-primeiro" >
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos9.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos10-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos11.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos12-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos13-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos14.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos15.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Helena</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos32.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Lídia</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos33.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Lídia</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Gestantes</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="servicos-ensaios" id="servicos-ensaios">
            <div class="blocos-primeiro"  > 
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos27.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Adriele</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos16.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Bruno</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos17-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Bruno</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos18-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Bruno</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos19.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Bruno</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos23.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos24-.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos25.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos26.jpg" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Caio</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Ensaios</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="servicos-eventos" id="servicos-eventos">
            <div class="blocos-primeiro"  >
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos28.JPG" alt="" class="conteudo-grade-bloco-miniatura-imagem-horizontal">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Formatura RHEMA</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Eventos</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos29-.JPG" alt="" class="conteudo-grade-bloco-miniatura-imagem-horizontal">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Formatura RHEMA</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Eventos</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos30-.JPG" alt="" class="conteudo-grade-bloco-miniatura-imagem-horizontal">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Formatura RHEMA</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Eventos</p>
                    </div>
                </div>
                <div class="conteudo-grade-bloco">
                    <div class="conteudo-grade-bloco-miniatura">
                        <img src="img/Servicos31.JPG" alt="" class="conteudo-grade-bloco-miniatura-imagem">
                    </div>
                    <div class="conteudo-grade-bloco-texto">
                        <h3 class="conteudo-grade-bloco-texto-titulo">Formatura RHEMA</h3>
                        <p class="conteudo-grade-bloco-texto-descricao">Eventos</p>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/botao') %>
    </main>
    <footer class="rodape-servicos">
        <section class="rodape-conteudo">
            <form action="" method="post">
                <h3 class="rodape-titulo">Entre em contato comigo!</h3>
                <fieldset class="form">
                    <div class="form-pergunta">
                        <label for="nome" class="form-label">Como devo te chamar?</label>
                        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome" class="form-input">
                    </div>
                    <div class="form-pergunta">
                        <label for="email" class="form-label">Como chego até você?</label>
                        <input type="email" name="email" id="email" placeholder="Digite seu melhor e-mail" required class="form-input">
                    </div>
                    <div class="form-pergunta">
                        <label for="assunto" class="form-label">Sobre o que deseja conversar?</label>
                        <input type="text" name="assunto" id="assunto" placeholder="Digite o assunto" class="form-input">
                    </div>
                    <div class="form-pergunta">
                        <label for="mensagem" class="form-label">Por favor, me fale um pouco mais sobre isso</label>
                        <textarea name="mensagem" id="mensagem" cols="30" rows="10" required placeholder="Digite sua mensagem" class="form-input"></textarea>
                    </div>
                    <div class="rodape-botao">
                        <button class="form-botao">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </section>
        <section class="rodape-copy">
            <p>COPYRIGHT © 2022 - Israel Oliveira </p>
        </section>
    </footer>
</body>
</html>