<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henrique Fotografia - O Henrique</title>
    <link rel="stylesheet" type='text/css' href="css/main.css" >
    <link rel="icon" href="img/logo redondo png.png">
    <script src="js/sobre.js" defer></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="conteudo">
        <section class="conteudo-comeco">
            <div class="conteudo-comeco-texto">
                <h3 class="conteudo-comeco-texto-chamada">2017 / O começo</h3>
                <h2 class="conteudo-comeco-texto-titulo">Título</h2>
                <div >
                    <p class="conteudo-comeco-texto-descricao">&numsp; &numsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, blanditiis sint. Iure fugiat, voluptas eligendi esse minima nobis omnis reiciendis maiores tempora! Suscipit excepturi delectus consectetur inventore, tempore doloribus facilis?</p>
                    <p class="conteudo-comeco-texto-descricao">&numsp; &numsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi iste aut, veritatis consectetur expedita molestias ad deleniti quasi necessitatibus, numquam sed magnam ipsam natus aperiam dolorem repellat pariatur vero beatae.</p>
                </div>
            </div>
            <div class="conteudo-comeco-imagem">
                <img src="img/imagem-comeco.png" alt="" id="imagem-comeco">
            </div>
        </section>
        <section class="conteudo-lembrancas">
            <h2 class="conteudo-lembrancas-titulo">Momentos marcantes</h2>
            <h3 class="conteudo-lembrancas-subtitulo">Dias que marcaram a minha carreira</h3>
            <div class="conteudo-lembrancas-imagens">
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                        <img src="img/lembrancas1.png" alt="" id="imagem-lembrancas-1" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas2.png" alt="" id="imagem-lembrancas-2" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas3.png" alt="" id="imagem-lembrancas-3" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas4.png" alt="" id="imagem-lembrancas-4" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                     <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas5.png" alt="" id="imagem-lembrancas-5" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas6.png" alt="" id="imagem-lembrancas-6" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas7.png" alt="" id="imagem-lembrancas-7" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                            <img src="img/lembrancas8.png" alt="" id="imagem-lembrancas-8" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
                <div class="conteudo-lembrancas-imagens-bloco">
                    <div class="conteudo-lembrancas-imagens-bloco-imagem">
                        <img src="img/lembrancas9.png" alt="" id="imagem-lembrancas-9" class="imagem-lembranca">
                    </div>
                    <p class="conteudo-lembrancas-imagens-bloco-descricao"> Dia top - 20**</p>
                </div>
            </div>
        </section>
        <section class="conteudo-atual">
            <div class="conteudo-atual-texto">
                <h3 class="conteudo-atual-texto-chamada">2022 / O Hoje</h3>
                <h2 class="conteudo-atual-texto-titulo">Título</h2>
                <div class="conteudo-atual-texto-descricao">
                    <p>&numsp; &numsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, blanditiis sint. Iure fugiat, voluptas eligendi esse minima nobis omnis reiciendis maiores tempora! Suscipit excepturi delectus consectetur inventore, tempore doloribus facilis?</p>
                    <p>&numsp; &numsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi iste aut, veritatis consectetur expedita molestias ad deleniti quasi necessitatibus, numquam sed magnam ipsam natus aperiam dolorem repellat pariatur vero beatae.</p>
                </div>
            </div>
            <div class="conteudo-atual-imagem">
                <img src="img/imagem-atual.png" alt="" id="imagem-atual">
            </div>
        </section>
        <section class="conteudo-pessoa">
            <h3 class="conteudo-pessoa-chamada">E longe das lentes?</h3>
            <h2 class="conteudo-pessoa-titulo">Um pouquinho de quem sou</h2>
            <div>
                <p class="conteudo-pessoa-descricao">&numsp;&numsp;Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, dolores. Ab nesciunt similique sint cumque, repellendus officiis maxime ipsa deleniti necessitatibus mollitia, quas a recusandae, magni molestias doloribus? Animi, reiciendis.</p>
                <p class="conteudo-pessoa-descricao">&numsp;&numsp;Lorem ipsum dolor sit, amet consectetur adipisicing elit. In doloremque provident molestias omnis itaque amet optio numquam incidunt odit deleniti nemo accusamus alias, sit harum, reiciendis quo eos cumque praesentium?</p>
                <p class="conteudo-pessoa-descricao">&numsp;&numsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae adipisci officia velit nulla harum! Deleniti, consectetur ullam quam inventore laudantium autem minima fuga dolore quo explicabo? Nulla at provident dicta.</p> 
            </div>
            <div class="conteudo-pessoa-imagem">
                <img src="img/como-pessoa.png" alt="" id="imagem-pessoa">
            </div>
        </section>
        <section class="conteudo-banner-sobre">
            <h2 class="conteudo-banner-frase">"Lorem ipsum dolor sit amet consectetur adipisicing elit." </h2>
            <h4 class="conteudo-banner-autor"> Fulano de tal</h4>
        </section>
        <%- include('../partials/botao') %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>